@use '../../_sections.scss' as sections;

.new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.section-title {
    @include sections.section-styles;
    justify-content: space-between;
}

.section-title a {
    color: black;
}

.new-products-list {
    @include sections.section-styles;
}

.items {
    overflow-y: visible;
    height: 400px;
    margin-top: -60px;
}

.items::-webkit-scrollbar {
    display: none;
}

.items-overflow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1332px;
    height: 470px;
    position: absolute;
}