@use '../../_colors.scss' as colors;
@use '../../_lists.scss' as lists;

.main-products-list-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;    
    width: 75%;
}

.products {
    display: flex;
    flex-direction: row;  
}

.products-list-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 232px;
}

.section-image {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.section-title {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title span {
    font-weight: 700;
    font-size: 22px;
    margin-top: 150px;
}

.section-title a {
    color: white;
    font-size: 13px;
    margin-top: 100px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}