.new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.section-title a {
    color: black;
}

.new-products-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}