@use '../../_sections.scss' as sections;
@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.add-to-card-section {
    padding: 15px 0px;
    width: 100%;
    box-shadow: 0px 1px 2px 1px #ebebeb;
}

.add-to-card-block {
    @include sections.section-margins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prices-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 44%;
}

.on-sale {
    font-size: 14px;
    margin-right: 10px;
}

.on-sale span {
    font-weight: 600;
}

.prices-block .number {
    display: inline-block;
	position: relative;
    margin-right: 10px;
}

.prices-block .number input {
    background: colors.$lightGrey;
    border: none;
    height: 50px;
    width: 60px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    padding-left: 15px;
    -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.prices-block input:focus-visible {
    border: none;
}

.prices-block input::-webkit-outer-spin-button,
.prices-block input::-webkit-inner-spin-button {
    display: none;
}

.add-number {
    position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
    height: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
    background-color: transparent;
}

.add-number::after {
    @include arrows.arrow-up-black;
    width: 3px;
    height: 3px;
    border-top: 1px solid colors.$deepGrey;
    border-right: 1px solid colors.$deepGrey;
}

.decrease-number {
    position: absolute;
	right: 1px;
	bottom: 1px;
	width: 20px;
    height: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
    background-color: transparent;
}

.decrease-number::after {
    @include arrows.arrow-down-black;
    width: 3px;
    height: 3px;
    border-top: 1px solid colors.$deepGrey;
    border-right: 1px solid colors.$deepGrey;
}