@use '../../_colors.scss' as colors;
@use '../../_lists.scss' as lists;

.navigation-block {
    width: 25%;
}

.product-menu ul {
    @include lists.list-style;
}

.product-menu ul li a {
    @include lists.list-item;
    font-size: 14px;
    font-weight: 600;
}

.product-menu ul li .active {
    @include lists.active-list-item;
}