@use '../../_sections.scss' as sections;

.add-to-card-section {
    padding: 15px 0px;
    width: 100%;
    box-shadow: 0px 1px 2px 1px #ebebeb;
}

.add-to-card-block {
    @include sections.section-margins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
