@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.card-item td {
    padding: 10px;
    border-bottom: 2px solid colors.$grey;
}

.item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    padding: 25px;
}

.product-image image{
    width: 120px;
    height: 120px;
}

.item-price {
    font-size: 16px;
    font-weight: 600;
}

.number {
    display: inline-block;
	position: relative;
}

.number input {
    background: colors.$lightGrey;
    border: none;
    height: 50px;
    width: 60px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    padding-left: 15px;
    -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.number input:focus-visible {
    border: none;
}

.number input::-webkit-outer-spin-button,
.number input::-webkit-inner-spin-button {
    display: none;
}

.add-number {
    position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
    height: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
    background-color: transparent;
}

.add-number::after {
    @include arrows.arrow-up-black;
    width: 3px;
    height: 3px;
    border-top: 1px solid colors.$deepGrey;
    border-right: 1px solid colors.$deepGrey;
}

.decrease-number {
    position: absolute;
	right: 1px;
	bottom: 1px;
	width: 20px;
    height: 35px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
    background-color: transparent;
}

.decrease-number::after {
    @include arrows.arrow-down-black;
    width: 3px;
    height: 3px;
    border-top: 1px solid colors.$deepGrey;
    border-right: 1px solid colors.$deepGrey;
}

.item-subtotal {
    font-size: 16px;
    font-weight: 600;
}

.item-buttons button:first-child {
    margin-bottom: 3px;
}