@use '../../_colors.scss' as colors;

.items-list {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.list-table {
    border-spacing: 0px;
}

.table-title td {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid colors.$grey;
}

.card-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-buttons button {
    padding: 4px 6px;
}

.inner-buttons button {
    padding: 4px 6px;
    margin-left: 4px;
}

.card-buttons button:last-child {
    float: right;
} 