@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.catalog-filter-block {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-title-link {
    margin: 20px auto;
    text-decoration: none;
    color: colors.$black;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-title-link:before {
    @include arrows.arrow-left-black;
    margin-right: 2px;
}

.filters {
    background: colors.$lightBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 20px auto;
    padding: 20px 0px;
}

.filters span {
    font-size: 18px;
    font-weight: 700;
    margin: 0px auto 20px auto;
}

.filter-items {
    padding: 0px;
    margin: 20px 43px;
    list-style: none;
    width: 75%;
}
