@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.item {
    margin: 8px auto;
}

.item a {
    text-decoration: none;
    color: colors.$black;
    font-size: 14px;
    width: 75%;
}

.item span {
    color: colors.$black;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.item-options {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: colors.$black;
    font-size: 14px;
    width: 105%;
}

.item-opened::after {
    @include arrows.arrow-up-black;
}

.item-closed::after {
    @include arrows.arrow-down-black;
}

.item ul {
    list-style: none;
    padding: 0px;
    width: 120%;
    font-size: 13px;
}

.item ul li {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.item ul li span {
    margin: 0px auto;
}

.item-with-icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.item-with-icons ul li {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.item-with-icons ul span img {
    border: 4px double black;
}

@media (max-width: 768px) {
    .item-options {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .item a {
        width: 66%;
    }
}