@use '../../_colors.scss' as colors;

.item {
    margin: 8px auto;
}

.item a {
    text-decoration: none;
    color: colors.$black;
    font-size: 14px;
    width: 75%;
}

.item span {
    color: colors.$black;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.item-options {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: colors.$black;
    font-size: 14px;
    width: 105%;
}

.item-opened::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-top: 2px solid colors.$black;
    border-right: 2px solid colors.$black;
    transform: rotate(317deg);
}

.item-closed::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-top: 2px solid colors.$black;
    border-right: 2px solid colors.$black;
    transform: rotate(137deg);
}

.item ul {
    list-style: none;
    padding: 0px;
    width: 120%;
    font-size: 13px;
}

.item ul li {
    display: flex;
    flex-direction: row;
    height: 2em;
}

.item ul li span {
    margin: 0px auto;
}

.item-with-icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.item-with-icons ul li {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.item-with-icons ul span img {
    border: 4px double black;
}