.catalog-section {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.catalog-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.catalog-table-view {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog-column-view {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .catalog-table-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .catalog-section {
        width: 80%;
    }
}