@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.catalog-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catalog-pagination a {
    border-radius: 50%;
    border: solid 2px colors.$darkGrey;
    background-color: transparent;
    color: colors.$darkGrey;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
}

.catalog-pagination .active {
    border-radius: 50%;
    border: solid 2px colors.$grey;
    background-color: colors.$grey;
    color: colors.$darkGrey;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prev {
    @include arrows.arrow-left-black;
    border-top: 2px solid colors.$darkGrey;
    border-right: 2px solid colors.$darkGrey;
}

.next {
    @include arrows.arrow-right-black;
    border-top: 2px solid colors.$darkGrey;
    border-right: 2px solid colors.$darkGrey;
}