.catalog-table-view {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog-column-view {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1600px) {
    .catalog-table-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 896px) {
    .catalog-table-view {
        grid-template-columns: repeat(2, 1fr);
    }
}