@use '../../_sections.scss' as sections;

.catalog-section {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.catalog-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.catalog {
    padding-left: 5px;
}

.filters-rest {
    display: none;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .catalog-section {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .catalog-section {
        @include sections.mobile-section-paddings;
    }
}

@media (max-width: 768px) {
    .catalog-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filters-rest {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .filters-rest a {
        margin-left: auto;
        margin-right: auto;
    }

    .catalog {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .catalog-section {
        padding: 0px;
    }
}