@use '../../_sections.scss' as sections;

.catalog-section {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.catalog-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.catalog-table-view {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

.catalog-column-view {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filters-rest {
    display: none;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .catalog-section {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1600px) {
    .catalog-table-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .catalog-section {
        @include sections.mobile-section-margins;
    }
}

@media (max-width: 896px) {
    .catalog-table-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .catalog-section {
        width: 100%;
    }

    .catalog-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .filters-rest {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .filters-rest a {
        margin-left: auto;
        margin-right: auto;
    }
}