@use '../../_colors.scss' as colors;
@use '../../_arrows.scss' as arrows;

.main-list-item {
    padding: 10px;
}

.item-with-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-with-level:hover {
    background-color: colors.$grey;
}

.item-with-level:hover .second-level-list {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: 295px;
    z-index: 1;
    list-style: none;
    top: 5.2%;
    padding: 0px;
    height: 350px;
    border: 1px solid colors.$grey;
    width: 18%;
}

.menu-link-inner {
    text-decoration: none;
    color: colors.$black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
}

.arrow-next-level {
    @include arrows.arrow-right-black;
}

.amount {
    font-size: 12px;
    font-weight: 400;
    color: colors.$grey;
}

.second-level-list {
    display: none;
}

.third-level-list {
    display: none;
}

.item-with-third-level:hover .third-level-list {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: 249px;
    z-index: 1;
    list-style: none;
    top: 0;
    bottom: 0;
    padding: 0px;
    height: 349px;
    border: 1px solid #CCCCCC;
    width: 100%;    
}

.item-with-third-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-with-third-level:hover {
    background-color: colors.$grey;
}