.faq-item {
    font-size: 16px;
}

.faq-item h3 {
    font-weight: 600;
}

.faq-item div ul {
    list-style-type: none;
    counter-reset:  item;
    padding: 0px;
}

.faq-item div ul li::before {
    content: ' (' counter(item, lower-latin) ') ';
    counter-increment: item;
}