@use '../../_colors.scss' as colors;
@use './_catalogItem.scss' as commonStyles;
@use '../../_table.scss' as table;

.product-preview {
    @include commonStyles.item-inner-elements-direction;
    padding: 15px;
}

.product-preview:hover {
    box-shadow: -1px 1px 13px 4px colors.$grey;
}

.product-status {
    @include commonStyles.product-status-style;
    justify-content: flex-end;
    margin-right: 25px;
}

.product-status.in-stock {
    @include commonStyles.in-stock-status;
}

.product-status.check-availability {
    @include commonStyles.check-availability-status;
}

.status-text {
    @include commonStyles.status-text-style;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 45px 20px 25px;
}

.product-image img {
    width: 200px;
    height: 100%;
}

.about-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-model {
    font-size: 12px;
    font-weight: 300;
}

.product-title {
    @include commonStyles.product-title;
}

.product-prices {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.product-price {
    @include commonStyles.product-price;
}

.product-discount {
    @include commonStyles.product-discount;
    margin-left: 5px;
}

.product-rating {
    @include commonStyles.product-rating;
}

.product-rating a {
    @include commonStyles.product-rating-link;
}

.features td {
    @include table.table-line;
}

.features td:nth-child(2n) {
    @include table.table-value-style;
}

.features .dark {
    @include table.table-dark-line;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-buttons button {
    margin-left: 5px;
}

.product-button {
    width: 49%;
}