@use '../../_colors.scss' as colors;
@use './_catalogItem.scss' as commonStyles;

.product-preview {
    @include commonStyles.item-inner-elements-direction;
    max-width: 234px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    position: relative;
    height: 349px;
}

// .product-preview:hover {
//     z-index: 2;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     margin-right: auto;
//     margin-left: auto;
//     height: 396px;
//     background-color: red;
// }

.product-status {
    @include commonStyles.product-status-style;
}

.product-status.in-stock {
    @include commonStyles.in-stock-status;
}

.product-status.check-availability {
    @include commonStyles.check-availability-status;
}

.status-text {
    @include commonStyles.status-text-style;
}

.product-image-link {
    margin-left: auto;
    margin-right: auto;
}

.product-image {
    height: 150px;
}

.product-rating {
    @include commonStyles.product-rating;
}

.reviews-link {
    @include commonStyles.product-rating-link;
}

.rating-buttons {
    display: flex;
    flex-direction: row;
}

.product-title {
    @include commonStyles.product-title;
}

.product-price {
    @include commonStyles.product-price;
}

.product-discount {
    @include commonStyles.product-discount;
    margin-bottom: 5px;
    color: colors.$black !important;
}

.product-buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 25px;
    margin-left: 70%;
}

.product-preview:hover .product-buttons {
    display: flex;
}

.add-to-card-btn {
    display: none;
}

.product-preview:hover .add-to-card-btn {
    display: flex;
}