@use '../../_colors.scss' as colors;
@use './_catalogItem.scss' as commonStyles;

.product-preview {
    @include commonStyles.item-inner-elements-direction;
    max-width: 234px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-status {
    @include commonStyles.product-status-style;
}

.product-status.in-stock {
    @include commonStyles.in-stock-status;
}

.product-status.check-availability {
    @include commonStyles.check-availability-status;
}

.status-text {
    @include commonStyles.status-text-style;
}

.product-image {
    height: 150px;
}

.product-rating {
    @include commonStyles.product-rating;
}

.product-rating a {
    @include commonStyles.product-rating-link;
}

.rating-buttons {
    display: flex;
    flex-direction: row;
}

.product-title {
    @include commonStyles.product-title;
}

.product-price {
    @include commonStyles.product-price;
}

.product-discount {
    @include commonStyles.product-discount;
}

.product-buttons {
    display: none;
}

.hidden {
    display: none;
}