@use '../../_colors.scss' as colors;

.advantages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.advantages-background {
    background-color: colors.$lightBlue;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .advantages-list {
        flex-direction: column;
    }
}