@use '../../_colors.scss' as colors;
@use '../../_sections.scss' as sections;
@use '../../_arrows.scss' as arrows;

.breadcrumbs-navigation {
    @include sections.section-margins;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 40%;
    padding: 0px;
}

.breadcrumbs a {
    text-decoration: none;
    color: colors.$black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.breadcrumbs .active {
    color: colors.$darkGrey;
}

.breadcrumbs li:not(:last-child) a::before {
    @include arrows.thing-right-arrow-black;
    border-top: 1px solid colors.$darkBlue;
    border-right: 1px solid colors.$darkBlue;
    margin-left: 9px;
}