@use '../../_sections.scss' as sections;

.page-title-catalog {
    @include sections.section-margins;
}

.page-title {
    @include sections.section-margins;
    width: 80%;
    font-size: 32px;
    font-weight: 500;
}