@use '../../_colors.scss' as colors;

.round-button {
    background-color: transparent;
    border: 2px solid colors.$darkGrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}