@use '../../_colors.scss' as colors;

button {
    cursor: pointer;
}

.light-button {
    background-color: transparent;
    color: colors.$darkBlue;
    border-color: colors.$darkBlue;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 4px 15px;
}

.blue-button {
    background-color: colors.$darkBlue;
    color: white;
    border-color: colors.$darkBlue;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 30px;
}

.icon-button {
    background-color: transparent;
    border: none;
}