@use '../../_colors.scss' as colors;

button {
    cursor: pointer;
    outline: none;
}

.light-button {
    background-color: transparent;
    color: colors.$darkBlue;
    border: solid 2px colors.$darkBlue;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 4px 15px;
}

.blue-button {
    background-color: colors.$darkBlue;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 55px;
}

.yellow-button {
    background-color: colors.$yellow;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 55px;
}

.grey-button {
    background-color: transparent;
    color: colors.$deepGrey;
    border: solid 2px colors.$deepGrey;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    padding: 4px 70px;
}

.icon-button {
    background-color: transparent;
    border: none;
}