@use '../../_colors.scss' as colors;

.contacts-time {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid colors.$grey;
}

.time-info {
    color: colors.$black;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.time-item {
    color: colors.$grey !important;
    font-size: 13px;
    font-weight: 600;
    text-shadow: none !important;
}

.time-item span {
    color: colors.$black !important;
}

.contacts-adress {
    display: flex;
    flex-direction: row;
    color: colors.$black;
    padding: 10px;
    border-bottom: 1px solid colors.$grey;
}

.adress-text {
    color: colors.$black !important;
    font-size: 13px;
    font-weight: 400;
    width: 88%;
}

.contacts-rest {
    color: colors.$black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.rest-item {
    color: colors.$black !important;
    font-size: 13px;
    font-weight: 400;
}

.rest-item a {
    color: colors.$blue !important;
    font-size: 13px;
    font-weight: 400;
}