@use '../../_colors.scss' as colors;

.basket-icon {
    position: relative;
}

.basket-logo {
    margin-right: -5px;
}

.basket-amount {
    color: white;
    background-color: colors.$darkBlue;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: -8px;
}

.hidden {
    display: none;
}

.appearing-block {
    display: block;
    position: absolute;
    padding-top: 20px;
    width: 310px;
    z-index: 1;
}

.appearing-basket-top {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 13px 4px #02020314;
}

.inner-basket-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.basket-title {
    font-size: 18px;
    font-weight: 600;
}

.basket-amount-title {
    color: colors.$grey;
    font-size: 12px;
    font-weight: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.basket-list {
    display: flex;
    flex-direction: column;
}

.basket-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 10px;
}

.subtotal {
    font-size: 14px;
    color: colors.$grey;
    font-weight: 600;
    margin-top: 5px;
}

.subtotal span {
    font-size: 18px;
    color: colors.$black;
    font-weight: 600;
}

.basket-bottom button {
    margin-top: 10px;
}

.basket-icon-mobile {
    display: none;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
}

.arrow::after {
    content: '';
    background-color: white;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0px;
    left: 238px;
    transform: rotate(45deg);
    width: 17px;
    height: 17px;
}

@media (max-width: 1276px) {
    .basket-icon {
        margin-right: 20px;
    }

    .basket-icon .basket-amount {
        color: colors.$darkBlue;
        background-color: white;
    }

    .basket-logo path {
        fill: white;
    }
}