@use '../../_colors.scss' as colors;

.basket-icon {
    position: relative;
}

.basket-logo {
    margin-right: -5px;
}

.basket-amount {
    color: white;
    background-color: colors.$darkBlue;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: -8px;
}

.hidden {
    display: none;
}

.appearing-block {
    display: block;
    position: absolute;
    padding-top: 20px;
    width: 310px;
    z-index: 1;
}

.basket-list {
    display: flex;
    flex-direction: column;
}

.basket-icon-mobile {
    display: none;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
}

.arrow::after {
    content: '';
    background-color: white;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0px;
    left: 238px;
    transform: rotate(45deg);
    width: 17px;
    height: 17px;
}

@media (max-width: 1276px) {
    .basket-icon {
        margin-right: 20px;
    }

    .basket-icon .basket-amount {
        color: colors.$darkBlue;
        background-color: white;
    }

    .basket-logo path {
        fill: white;
    }
}