.header-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-time span {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.arrow-down {
    transform: rotate(180deg);
}