@use '../../_colors.scss' as colors;

.header {
    background-color: colors.$black;
    color: #ACACAC;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    padding-left: 10em;
    padding-right: 10em;
    justify-content: space-between;
    font-weight: 600;
}

.header a {
    color: white;
    text-decoration: none;
}

.header-contact a {
    border-bottom: 2px solid white;
}

@media (min-width: 1277px) {
    .header-mobile {
        display: none;
    }
}

@media (max-width: 1276px) {
    .header {
        display: none;
    }

    .header-mobile {
        background-color: colors.$black;
        color: #ACACAC;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 11px;
        padding: 5px 10px 5px 100px;
        justify-content: space-between;
        font-weight: 600;
    }

    .header-mobile a {
        color: white;
        text-decoration: none;
    }
    
    .header-contact-mobile a {
        border-bottom: 2px solid white;
    }
}

@media (min-width: 1277px) and (max-width: 1280px) {
    .header {
        padding-left: 1em;
        padding-right: 1em;
    }
}