@use '../../_colors.scss' as colors;

.main-top-menu {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
}

.menu-link a {
    text-decoration: none;
    color: colors.$black;
    padding: 10px 20px;
}

.menu-link .menu-link:hover {
    color: white;
    background-color: colors.$darkBlue;
    border-radius: 100px;
    padding: 10px 20px;
}

.hover-menu-block {
    display: none;
}

.menu-link .menu-link:hover .hover-menu-block {
    display: block;
    position: absolute;
    margin-top: 27px;
    z-index: 1;
}