.header-navigation-block {
    box-shadow: 0px 1px 2px 1px #ebebeb;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 7em;
    margin-right: 7em;
}

.main-top-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 8%;
}

.main-top-tools-open {
    width: 100%;
}