@use '../../_colors.scss' as colors;

.main-top-menu {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
}

.main-top-menu-closed {
    width: 20%;
}

.menu-link-inner {
    text-decoration: none;
    color: colors.$black;
    padding: 10px 20px;
}
