@use '../../_colors.scss' as colors;

.header-navigation-block {
    box-shadow: 0px 1px 2px 1px #ebebeb;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 7em;
    margin-right: 7em;
}

.main-top-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 8%;
}

.main-top-tools-open {
    width: 100%;
}

@media (min-width: 1277px) {
    .header-navigation-mobile {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .header-navigation {
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (max-width: 1276px) {
    .header-navigation {
        display: none;
    }

    .header-navigation-mobile {
        display: block;
        width: 100%;
        top: 0;
    }

    .mobile-logo {
        background-color: colors.$darkBlue;
        height: 40px;
        width: 72px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-left: 20px;
        position: absolute;
        top: 10px;
    }

    .mobile-logo a {
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: colors.$darkBlue;
        padding: 10px;
    }

    .icon-in-field {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        z-index: 1;
        padding-top: 10px;
        margin-left: 10px;
        position: absolute;
    }

    .search-field-with-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .search-field {
        color: colors.$grey;
        font-size: 14px;
        font-weight: 400;
        border: none;
        border-radius: 31px;
        padding: 15px 5px 15px 40px;
        width: 518px;
        margin-left: auto;
        margin-right: auto;
    }

    .search-field::placeholder {
        color: colors.$grey;
        font-size: 14px;
        font-weight: 400;
    }

    .search-field:focus-visible {
        outline: none;
    }
}