.footer-menu ul {
    list-style: none;
}

.footer-menu .menu-title {
    font-size: 14px;
    font-weight: 600;
    opacity: .5;
}

.footer-menu .inner-items {
    font-size: 13px;
    font-weight: 400;
    opacity: 1;
}