.footer {
    background: #020203;
    color: white;
}

.footer-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ebebeb6e;
}

.footer-bottom-section span {
    opacity: .5;
}


@media (max-width: 1024px) {
    .footer-copyright {
        font-size: 10px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
