.footer-menu ul {
    list-style: none;
}

.footer-menu .menu-title {
    font-size: 14px;
    font-weight: 600;
    opacity: .5;
    display: block;
    padding-bottom: 20px;
}

.footer-menu .inner-items {
    font-size: 13px;
    font-weight: 400;
    opacity: 1;
    padding: 0px;
}

.menu-outer-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.inner-items a {
    text-decoration: none;
    color: white;
}

.inner-items .contacts-link {
    text-decoration: none;
    color: #01A4FF;
}