@use '../../_sections.scss' as sections;

.subscribe-form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include sections.section-margins;
}

.form-description {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form-description .form-title {
    font-size: 38px;
    font-weight: 500;
}

.form-description .form-undertitle {
    font-size: 16px;
    font-weight: 300;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscribe-form input {
    background-color: #020203;
    border-color: white;
    color: white;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 150px 10px 5px;
    margin-right: 10px;
}

@media (max-width: 1280px) {
    .form-description .form-title {
        font-size: 18px;
    }

    .form-description .form-undertitle {
        font-size: 12px;
    }

    .subscribe-form input {
        padding: 10px 65px 10px 5px;
    }
}

@media (max-width: 768px) {
    .subscribe-form-footer {
        flex-direction: column;
        width: 100%;
    }

    .subscribe-form input {
        padding: 10px 30px 10px 5px;
    }
}