@use '../../_colors.scss' as colors;

.menu-list {
    list-style: none;
    background-color: white;
    width: 173px;
    padding: 20px;
    box-shadow: -1px 1px 13px 4px #02020314;
}

.list-item a {
    font-size: 14px;
    font-weight: 500;
    color: colors.$black;
    text-decoration: none;
}