//Colors
$lightBlue: #F5F7FF;
$darkBlue: #0156FF;
$blue: #01A4FF;
$darkGrey: #8C8C8C;
$grey: #CCCCCC;
$lightGrey: #EBEBEB;
$black: #000000;
$burgundy: #C94D3F;
$green: #78A962;
$deepGrey: #666666;
$aquamarine: #00AEB8;