@use './_colors.scss' as colors;

@mixin from-label {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
}

@mixin required-field {
    color: colors.$burgundy;
}

@mixin form-input {
    border: 1px solid colors.$grey;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
}

@mixin radio-input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

@mixin radio-input-field {
    position: absolute;
    opacity: 0;
}

@mixin radio-input-button {
    display: inline !important;
}

@mixin radio-style {
    content: '';
    border-radius: 100%;
    border: 2px solid colors.$darkBlue;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 5px; 
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

@mixin checked-radio-style {
    background-color: colors.$darkBlue;
    box-shadow: inset 0 0 0 2px white;
}

@mixin radio-input-text {
    font-weight: 400 !important;
    font-size: 14px !important;
    display: inline !important;
}