.news-title {
    font-size: 22px;
    font-weight: 600;
}

.main-news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-news-block {
    width: 70%;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}