.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.news-item img {
    max-height: 152px;
}

.news-item p {
    font-size: 12px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.news-item span {
    font-size: 10px;
    color: #8C8C8C;
}