@use '../../_colors.scss' as colors;

@mixin banner-title {
    font-size: 44px;
    font-weight: 500;
}

@mixin banner-text {
    font-size: 18px;
    font-weight: 300;
}

@mixin description-sing {
    background-color: colors.$darkBlue;
    width: fit-content;
    padding: 15px;
    border-radius: 100% 100% 100% 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin description-sing-img {
    margin-left: auto;
    margin-right: auto;
}

@mixin description {
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

@mixin banner-image {
    width: 35%;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

@mixin about-us-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}