@use '../../_zipLogo.scss' as zipLogo;
@use '../../_colors.scss' as colors;

.main-banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-banner {
    @include zipLogo.zip-block;
}

.banner-text:before {
    @include zipLogo.zip-line;
}

.banner-text {
    color: #272560;
    font-size: 18px;
}

.banner-text span {
    font-weight: 600;
}

.banner-text a {
    font-size: 14px;
}