.about-us-right {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.description span {
    font-size: 44px;
    font-weight: 500;
}

.description-text {
    font-size: 18px;
    font-weight: 300;
}

.image {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}