@use '../../_sections.scss' as sections;
@use '../../_colors.scss' as colors;

.main-companies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.companies-list {
    @include sections.section-styles;
    list-style: none;
    justify-content: space-between;
}

.section-in-menu {
    align-items: flex-start;
    margin-bottom: 0px;
    margin-top: 0px;
}

.section-in-menu .companies-list {
    width: 100%;
    padding: 0px;
}

.companies-item {
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companies-item a {
    margin-left: auto;
    margin-right: auto;
}

.companies-item:hover {
    animation-duration: 1s;
    animation-name: itemcolor;
}

@keyframes itemcolor {
    from {
        background-color: transparent;
    }

    to {
        background-color: colors.$lightGrey;
    }
}