@use '../../_sections.scss' as sections;

.main-companies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.companies-list {
    @include sections.section-styles;
    list-style: none;
    justify-content: space-between;
}